@if mgwt.css pretty {
	@external mgwt-Carousel, mgwt-Carousel-Scroller, mgwt-Carousel-Container, mgwt-Carousel-Indicator-Container, .mgwt-Carousel-Indicator, mgwt-Carousel-Indicator-active, mgwt-Carousel-Holder;
}

.mgwt-Carousel {
	position: relative;
}

@if user.agent safari {
	.mgwt-Carousel {
		display: \-webkit-box;
		\-webkit-box-flex: 1;
	}
}

@if user.agent gecko1_8 {
	.mgwt-Carousel {
		display: \-moz-box;
		\-moz-box-flex: 1;
		display: flex !important;
	    flex: 1 !important;
	}
}

@if user.agent ie9	{
	.mgwt-Carousel {
		height:100%;
	}
}


.mgwt-Carousel-Scroller {
	
}

@if user.agent safari {
	.mgwt-Carousel-Scroller {
		\-webkit-box-flex: 1;
	}
}

@if user.agent gecko1_8 {
	.mgwt-Carousel-Scroller {
		\-moz-box-flex: 1;
		flex: 1;
	}
}

.mgwt-Carousel-Container {
	
}

@if user.agent safari {
	.mgwt-Carousel-Container {
		display: \-webkit-box;
		\-webkit-box-flex: 1;
	}
}

@if user.agent gecko1_8 {
	.mgwt-Carousel-Container {
		display: \-moz-box;
		\-moz-box-flex: 1;
		 display: flex !important;
	    flex: 1 !important;
		
	}
}

.mgwt-Carousel-Indicator-Container {
	position: absolute;
	right: 0px;
	/* left: 0px; */
	bottom: 0px;
}

@if user.agent safari {
	.mgwt-Carousel-Indicator-Container,
	.mgwt-Carousel-Indicator-Container .indicatorWrapper {
		display: \-webkit-box;
		\-webkit-box-pack: center;
	}
}

@if user.agent gecko1_8 {
	.mgwt-Carousel-Indicator-Container,
	.mgwt-Carousel-Indicator-Container .indicatorWrapper {
		display: \-moz-box;
		\-moz-box-pack: center;
		justify-content: center !important;
		display: flex !important;
	}
}

@if user.agent ie10 {
	.mgwt-Carousel-Indicator-Container,
	.mgwt-Carousel-Indicator-Container .indicatorWrapper {
		display: \-ms-flexbox;
		justify-content: center;
	}
}

@if user.agent ie9	{
	.mgwt-Carousel-Indicator-Container,
	.mgwt-Carousel-Indicator-Container .indicatorWrapper {
		left:50% !important;
	}
}

.mgwt-Carousel-Indicator {
	width: 8px;
	height: 8px;
	background-color: #d3d3d3;
	border-radius: 4px;
	margin: 4px;
}

@if user.agent ie9 {
	.mgwt-Carousel-Indicator {
		float: left;
	}
}

.mgwt-Carousel-Indicator-active {
	background-color: #757575;
}

.mgwt-Carousel-Holder {
	position: relative;
}

@if user.agent safari {
	.mgwt-Carousel-Holder {
		display: \-webkit-box;
	}
}

@if user.agent gecko1_8 {
	.mgwt-Carousel-Holder {
		display: \-moz-box;
		display: flex;
	}
}

@if user.agent ie9 {
	.mgwt-Carousel-Holder {
		float:left;
	}
}

@if user.agent ie10 {
	.mgwt-Carousel {
		display: flex;
		flex: 1;
		display: -ms-flexbox;
	    \-ms-flex: 1;
	}
	
	.mgwt-Carousel-Scroller {
		\-ms-flex: 1;
		flex:1 ;
	}
	
	.mgwt-Carousel-Container {
		display: flex;
		flex: 1;
		display: -ms-flexbox !important;
	    \-ms-flex: 1 !important;
	}
	
	.mgwt-Carousel-Indicator-Container {
		display: -ms-flexbox;
		display: flex;
		\-ms-flex-pack: center;
	}
	
	.mgwt-Carousel-Holder {
		display: -ms-flexbox;
		display: flex;
	}
}

.mgwt-Carousel-Indicator-Container .indicatorWrapper {
	right: 0;
    bottom: 0;
}

.mgwt-Carousel-Indicator-Container .indicatorButton {
 	background-image: none;
    padding: 0px;
    margin: 0px;
    margin-bottom: 5px;
    position: relative;
    width: 12px;
    height: 12px;
    border-width: 0 0 4px 4px;
    border-style: solid;
    border-color: #757575;
    border-radius: 0px;
    background-color: transparent;
}
	
.mgwt-Carousel-Indicator-Container .indicatorButtonPrevious {
	transform:rotate(45deg);
    -webkit-transform: rotate(45deg);
}
	
.mgwt-Carousel-Indicator-Container .indicatorButtonNext{
	transform:rotate(225deg);
    -webkit-transform: rotate(225deg);
}

.mgwt-Carousel-Indicator-Container .indicatorButton.indicatorButtonDisable {
	 border-color: #d3d3d3;
}

.mgwt-Carousel-Indicator-Container.paginationEnable {
	right: 15px;
    bottom: 15px;
}

}


