
@if user.agent safari {

@if mgwt.os blackberry {
	.fillPanel {
		min-width: 100%;
		min-height: 100%;
	}
	
	.horizontal {
		
	}
	
	.fillPanel > .fillPanelExpandChild {
		
	} 
} @else {
	
	.fillPanel {
		display: -webkit-box;
		\-webkit-box-orient: vertical;
		width: 100%;
		height: 100%;
	}
	
	.horizontal {
		\-webkit-box-orient: horizontal;
	}
	
	.fillPanelExpandChild {
		\-webkit-box-flex: 1;
	} 
}
}

@if user.agent gecko1_8 {
	.fillPanel {
		display: -moz-box;
		display: flex;
		flex-direction: column;
		\-moz-box-orient: vertical;
		width: 100%;
		height: 100%;
		overflow: hidden;
		vertical-align: top;
	}
	
	.horizontal {
		\-moz-box-orient: horizontal;
		flex-direction: row;
	}
	
	.fillPanel > .fillPanelExpandChild {
		\-moz-box-flex: 1;
		flex: 1;
		overflow: hidden;
	} 
	.fillPanelExpandChild {
		\-moz-box-flex: 1;
		flex: 1;
	} 
}

@if user.agent ie10 {
	.fillPanel {
		display: -ms-flexbox;
		\-ms-flex-direction: column;
		width: 100%;
		height: 100%;
		background-image: literal('-ms-radial-gradient(center, ellipse cover, #4C4C4C 0%,#595959 0%,#2C2C2C 78%,#2B2B2B 81%,#2B2B2B 100%,#1C1C1C 98%,#666 100%,#111 100%,#131313 100%)'
			);
	}
	.horizontal {
		\-ms-flex-direction: row;
	}
	.fillPanel>.fillPanelExpandChild {
		\-ms-flex: 1;
		flex: 1;
	}
	.fillPanelExpandChild {
		\-ms-flex: 1;
		flex: 1;
	}
}

/* other browsers */

@if user.agent ie6 ie8 ie9 gecko opera {
	.fillPanel{}
    .fillPanelExpandChild{}
    .horizontal{}
}