.headerPanel {
	position:absolute;
	top:0px;
	left: 0px;
	right: 0px;
}

.fillPanel .content {
	position:absolute;
	overflow:hidden;
	display:block;
	top:40px;
	bottom:44px !important;
	left:0px;
	right:0px;
}

.fillPanel .buttonBar {
	position:absolute;
	display:block;
	bottom:0px;
	left:0px;
	right:0px;
	height:40px;	
}

.buttonBar div {
	display:block;
	float:left;
}

.fillPanel {
	position: relative;
	width: 100%; height:100%;	
}
